<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("css/main.css") }}">
        <!-- Compiled and minified JavaScript -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="white">
            <div class="nav-wrapper">
                <a href="{{ path('chat_index') }}" class="brand-logo">
                    <img id="logo" src="{{ asset('img/logo.png') }}">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ path('profil') }}" >
                                <img style="margin: 7px" class="mini_avatar left" src="{{ asset(app.user.avatar|default('img/avatar/default.jpg')) }}">
                                {{ app.user.username }}
                        </a>
                    </li>
                    <li><a href="{{ path('logout') }}"><i class="material-icons left">exit_to_app</i> Logout</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/linq.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
