<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body>
    <div class="container">
        <div id="form_login_container" class="row">
            <div id="form_login" class="col m8 push-m2 s12">
                <div class="row heading">
                    <div class="col m12 s12">
                        <h2>Log<span class="relative"><span class="absolute">in</span></span></h2>
                    </div>
                </div>
                <div class="row body">
                    <form class="col m12 s12" method="post" action="{{ path('login_check') }}">
                        <div class="row">
                            <div class="input-field col m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input name="_username" value="{{ username }}" id="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12 s12">
                                <i class="material-icons prefix">lock</i>
                                <input name="_password" id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12 s12 right-align">
                                <a class="waves-effect waves-light btn modal-trigger" href="#register_modal">REGISTER</a>
                                <button class="btn wave-effect wave-light">LOGIN<i class="material-icons right">exit_to_app</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="register_modal" class="modal">
        {{ form_start(form) }}
        <div class="modal-content">
            <h4>Register</h4>
            <div class="row">
                <div class="input-field col m12 s12">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form_widget(form.username) }}
                    {{ form_label(form.username) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s6">
                    <i class="material-icons prefix">lock</i>
                    {{ form_widget(form.password.first) }}
                    {{ form_label(form.password.first) }}
                </div>
                <div class="input-field col m6 s6">
                    <i class="material-icons prefix">lock</i>
                    {{ form_widget(form.password.second) }}
                    {{ form_label(form.password.second) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col m12 s12 right-align">
                    <button href="#!" id="register" class="modal-close waves-effect waves-light btn">REGISTER</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            {% if error != null %}
            M.toast({html: '{{ error.message }}', classes: 'red'});
            {% endif %}
            $('.modal').modal();
            $("#register").on("click", function(e){
                e.preventDefault();
                let form = $(this).closest("form");
                $.ajax({
                    url: Routing.generate("api_user_post"),
                    method: "POST",
                    dataType: "JSON",
                    data: form.serialize(),
                    success: function(data){
                        console.log(data);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });
        });
    </script>
</body>
</html>