{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s6 push-s3">
            <h2 class="teal-text">Edit Profile</h2>
            {{ form_start(form) }}
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                {{ form_widget(form.username) }}
                {{ form_label(form.username) }}
            </div>
            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>Avatar</span>
                    {{ form_widget(form.file) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="col s12 right-align">
                <input type="submit" class="btn wave-effect wave-light">
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}


