#connected_users{
    box-sizing: border-box;
    border: 1px solid black;
    width: 33%;
    float: left;
    height: calc(100vh - 65px);
    z-index: 999;
    overflow-y: scroll;
    position: relative;
}


/*#messages .heading{*/
    /*color: #009688;*/
    /*text-align: center;*/
    /*height: 75px;*/
    /*border-bottom: 2px solid #009688;*/
    /*margin-bottom: 0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*#messages .heading p{*/
    /*font-size: 25px;*/
/*}*/

/*#messages .heading img{*/
    /*height: 50px;*/
    /*margin: 5px;*/
/*}*/

#messages .conversation{
    height: calc(100% - 100px);
    overflow-y: scroll;
    margin-bottom: 0;
}

#messages .footer{
    height: 100px;
    border-top: 2px solid #009688;
    margin-bottom: 0;
}

textarea{
    height: 2em;
    max-height: 2em;
}

.input-field{
    margin-bottom: 5px;
    margin-top: 35px;
}

#menu_users{
    display: none;
    position: fixed;
    left: 12px;
    top: 12px;
    z-index: 1000;
}

#messages{
    box-sizing: border-box;
    border: 1px solid black;
    width: 67%;
    float: left;
    height: calc(100vh - 65px);
}

.avatar{
    height: 50px;
    margin-top: 5px;
}

.user{
    font-size: 16px;
    font-weight: bold;
    color: #009688;
}

.user:hover, .user.active{
    background-color: #009688;
    cursor: pointer;
    color: white;
}

.speech-bubble-from {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    float: left;
    width: 75%;
    padding: 20px 20px;
    margin: 1em 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 -0.05em 0.1em rgba(0,0,0,.3);
}

.speech-bubble-from:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-top: 0;
    margin-top: -10.5px;
    margin-left: -21px;
}

.speech-bubble-to {
    position: relative;
    background: #affa03;
    border-radius: .4em;
    float: right;
    width: 75%;
    padding: 20px 20px;
    margin: 1em 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 -0.05em 0.1em rgba(0,0,0,.3);
}

.speech-bubble-to:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left-color: #affa03;
    border-right: 0;
    border-top: 0;
    margin-top: -10.5px;
    margin-right: -21px;
}

@media only screen and (max-width: 992px){
    @keyframes collapse {
        from{ left: 0 }
        to{ left: -100% }
    }

    @keyframes uncollapse {
        from{ left: -100% }
        to{ left: 0}
    }
    #connected_users{
        position: absolute;
        left: 0;
        width: 100%;
        animation: uncollapse 0.5s;
    }
    #connected_users.collapse{
        animation: collapse 0.5s;
        left: -100%;
    }

    #menu_users{
        display: block;
    }
    #messages{
        width: 100%;
    }
}