@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Indie+Flower');

@keyframes in_anim {
    0% { font-size: 200px }
    25% {  }
    50% { transform: rotate(-30deg) }
    60% { transform: rotate(0deg) }
    70% { transform: rotate(30deg) }
    80% { transform: rotate(0deg) }
    90% { transform: rotate(-30deg) }
    100% { font-size: 40px; transform: rotate(0deg) }
}

body{
    background: url("../img/bg.jpg") 100vw 100vh;
}

#form_login h2{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
#form_login h2 span.relative{
    position: relative;
}
#form_login h2 span.absolute{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
    color: #0F403B;
    position: absolute;
    animation: in_anim 1s;
    top: 5px;
}

#form_login .heading{
    border-bottom: 2px solid #009688;
    background-color: #009688;
    padding: 0 20px;
}

#form_login .body{
    padding: 0 20px;
}

#form_login{
    border: 2px solid #009688;
    background-color: white;
    /*border-radius: 5px;*/
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.7);
}

#form_login_container{
    margin-top: 100px;
}