#logo{
    height: 80%;
    margin: 5px;
}

nav .brand-logo{
    height: 100%;
}

nav ul li:hover {
    background-color: #009688;
}

nav ul li a{
    color: #009688;
}

nav ul li:hover a{
    color: white;
}

nav .mini_avatar{
    height: 50px;
}

.relative{
    position: relative;
}