{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}


{% block body %}
    <div class="row" style="margin-bottom: 0">
        <a id="menu_users" class="btn-floating teal">
            <i class="material-icons">contacts</i>
        </a>
        <section id="connected_users" class="white">
        </section>
        <section id="messages">
            <div class="row conversation">
            </div>
            <div class="footer row">
                <form action="">
                    <div class="input-field col s8">
                        <textarea id="content" class="materialize-textarea" required></textarea>
                        <label for="content">Your Message</label>
                    </div>
                    <div class="col s4">
                        <button style="width: 100%; margin-top: 25px" id="send" class="btn wave-effect wave-light">SEND</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/klywebsocket/js/main.js') }}"></script>
    <script>
        "use strict";
        $(document).ready(function(){
            let currentUser = "{{ app.user.username }}";
            let messages = [];
            let bip = new Audio("{{ asset('mp3/notif.mp3') }}");
            let target;
            function Message(receiver, content){
                this.author = currentUser;
                this.receiver = receiver;
                this.content = content;
                this.date = (new Date).getTime() / 1000;
            }
            let usersWS = new WS("localhost", 8080, "/users", "{{ getToken() }}");
            usersWS.onRegister(event => {
                $("#connected_users").empty();
                _(event.getData())
                    .where(user => user.username !== currentUser)
                    .each(user => {
                        $("#connected_users").append(`
                            <div class="z-depth-1">
                                <div data-target="${ user.username }" class="user valign-wrapper">
                                    <div class="col s4">
                                        <img class="avatar" src="/ws/web/${ user.avatar || ("img/avatar/default.jpg")}" alt="" class="circle responsive-img">
                                    </div>
                                    <div class="col s6">
                                        <span>${ user.username }</span>
                                    </div>
                                    <div class="col s2 new"></div>
                                </div>
                            </div>
                        `);
                    });
            });

            usersWS.onError(event => {
                M.toast({
                    html: event.getData(),
                    classes: "red"
                });
            });

            let messagesWS = new WS("localhost", 8080, "/messages", "{{ getToken() }}");

            messagesWS.onError(event => {
                M.toast({
                    html: response.getData(),
                    classes: "red"
                });
            });

            messagesWS.onRegister(event => {
                //save all messages concerned by current user
                messages = event.getData();
            });

            messagesWS.onPost(event => {
                //save all messages concerned by current user
                messages = event.getData();
                if(event.getCaller() === currentUser) {
                    refreshMessages();
                }
                else{
                    bip.play();
                    M.toast({
                        html: "New message from " + event.caller,
                        classes: "red"
                    });
                    if(event.getCaller() === target){
                        refreshMessages();
                    }
                    else{
                        $("#menu_users").addClass("pulse");
                        $(`#connected_users .user[data-target=${event.getCaller()}] .new`)
                            .html("<span class=\"new badge pulse red\"></span>");
                    }
                }
            });

            $("#menu_users").on("click", function(e){
                $("#connected_users").toggleClass("collapse");
                $("#menu_users").removeClass("pulse");
            });

            $("#connected_users").on("click", ".user", function(e){
                target = $(this).attr("data-target");
                $(".user").removeClass("active");
                $(this).addClass("active");
                $(this).find(".new").empty();
                refreshMessages();
            });

            $("#send").on("click", function(e){
                e.preventDefault();
                let content = $("#content").val();
                if(content.trim() !== "" && target !== undefined){
                    messagesWS.post(new Message(target, content));
                    $("#content").val("");
                }
            });

            function refreshMessages() {
                $(".conversation").empty();
                _(messages)
                    .where(message => message.receiver.username === target || message.author.username === target)
                    .each(message => {
                        console.log("test");
                        if (message.author.username === target) {
                            $(".conversation").append(`
                                <div class="row" data-target="${ message.id }" style="padding:0 50px">
                                    <div class="left-align">${ message.date }</div>
                                    <div class="speech-bubble-from">
                                        ${ message.content }
                                    </div>
                                </div>
                            `);
                        }
                        else {
                            $(".conversation").append(`
                                <div class="row" data-target="${ message.id }" style="padding:0 50px">
                                    <div class="right-align">${ message.date }</div>
                                    <div class="speech-bubble-to">
                                        ${ message.content }
                                    </div>
                                </div>
                            `);
                        }
                    }
                );
                let elem = document.querySelector('#messages .conversation');
                elem.scrollTop = elem.scrollHeight;
            }
        });
    </script>
{% endblock %}
